#demo {
  margin: 10px auto 10px auto;
  font-size: 14px;
  text-align: left;
}

.Header {
  display: none;
}

/* Logo in mobile view */
.LoginForm__logoBox {
  margin: 10px 0 50px 0;
}

.LoginForm__logo {
  width: 50%;
}

.LoginForm {
  width: 260px;
  height: 270px;
}

.formBox {
  width: 260px;
}

.publicPlaceholder::placeholder {
  color: #494949;
}
@media only screen and (min-width: 576px) {
  #demo {
    margin-top: 15px;
    font-weight: 500;
    font-size: 14px;
  }

  .App {
    background-image: var(--print);
    background-color: var(--color-comp-w);
  }

  .Header {
    display: block;
  }

  .LoginForm__logoBox {
    display: none;
  }

  .LoginForm {
    margin-top: 50px;
    width: 220px;
    height: 270px;
  }

  .formBox {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
  #demo {
    font-size: 18px;
  }

  .LoginForm {
    width: 350px;
  }

  .formBox {
    width: 290px;
  }
}
