.App,
.root,
.DashboardPage,
.DashboardPage__left,
.DashboardPage__right {
	height: 100%;
}

.DashboardPage__left,
.DashboardPage__right {
	width: 80vw;
	margin: 0 auto 0 auto;
}

#Header {
	display: block;
}

.logButton {
	width: 200px;
}

.Dashboard {
	margin: 10px 15px 0 15px;
}

ul {
	position: relative;
	margin: 10px auto;
	padding: 0px;
}

ul li {
	background: rgba(255, 255, 255, .1);
	color: var(--color-comp-w);
	transition: .6s;
	padding: 10px 20px;
	margin: 6px 0;
	text-align: left;
}

ul li:hover {
	background: var(--color-comp-y);
	transform: scale(1.02);
	color: var(--color-triad-b);
	cursor: pointer;
}

@media only screen and (min-width: 576px) {
	.Dashboard {
		margin: 10px 0 0 0;
	}

	.DashboardPage__left,
	.DashboardPage__right {
		width: 70vw;
	}

	ul li {
		background: rgba(7, 59, 76, .8);
		color: var(--color-comp-w);
		transition: .6s;
		padding: 10px 20px;
		margin: 6px 0;
		text-align: left;
	}
}

@media only screen and (min-width: 768px) {
	.Dashboard {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 5% 0 0 0;
	}

	.DashboardPage__left,
	.DashboardPage__right {
		width: 40vw;
		margin: 0;
	}

	ul {
		width: 32vw;
	}

}
