.inputBox {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	border-bottom: 2px solid var(--color-triad-b);
	margin: 13px 0;
	padding: 3px 0;
	display: flex;
}

.inputBox svg {
	margin: auto 0 10px 10px;
	text-align: center;
	float: left;
}

.inputBox .input {
	border: none;
	outline: none;
	background: none;
	width: 210px;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--color-comp-w);
	margin-left: 15px;
	padding: 0;
}

.button {
	width: 100%;
	background: none;
	background-color: var(--color-triad-b);
	border: 2px solid var(--color-triad-b);
	color: var(--color-comp-w);
	padding: 5px;
	cursor: pointer;
	font-size: 18px;
	margin: 7px 0;
}

.button > a {
	color: var(--color-comp-w);
}

textarea {
	outline: none;
	resize: none;
	overflow: auto;
	vertical-align: top;
	font-family: 'Quicksand', sans-serif;
	background: none;
	border: none;
}

textarea:focus {
	border: none;
}

@media only screen and (min-width: 576px) {
	.inputBox {
		margin: 15px 0;
	}

	.inputBox svg {
		margin: auto 10px 8px 10px;
		text-align: center;
		float: left;
	}

	.inputBox .input {
		margin-left: 5px;
		color: #000000;
	}

	.button {
		padding: 10px 0 10px 0;
	}
}

@media only screen and (min-width: 768px) {
	.inputBox svg {
		margin: auto 10px 8px 15px;
	}

	.inputBox .input {
		margin-left: 6px;
		color: #000000;
		width: 230px;
	}

}
