.inputBox {
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	border-bottom: 2px solid var(--color-triad-b);
	margin: 10px 0;
	padding: 7px 0;
}

.inputBox i {
	width: 30px;
	text-align: center;
	float: left;
}

.inputBox .input {
	border: none;
	outline: none;
	background: none;
	width: 150px;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--color-comp-w);
	margin-left: 8px;
}

.button {
	width: 100%;
	background: none;
	background-color: var(--color-triad-b);
	border: 2px solid var(--color-triad-b);
	color: var(--color-comp-w);
	padding: 5px;
	cursor: pointer;
	font-size: 18px;
	margin: 7px 0;
}

.button > a {
	color: var(--color-comp-w);
}

@media only screen and (min-width: 576px) {
	.inputBox i {
		width: 50px;
	}

	.inputBox .input {
		margin-left: 0;
		color: #000000;
	}
}

@media only screen and (min-width: 768px) {
	.inputBox i {
		width: 50px;
	}

	.inputBox .input {
		margin-left: 0;
		color: #000000;
		width: 230px;
	}
}
